body {
  margin: 0;
}

.produto {
  align-items: center;
  border: none;
  box-shadow: 1px 1px 5px 3px rgba(184, 184, 184, 0.2);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin: 15px;
  padding: 3px;
  width: 300px;
}

.produto:hover {
  background-color: white;
  box-shadow: 1px 1px 15px 5px rgba(61, 61, 61, 0.2);
}

.produto .btn {
  align-items: center;
  border-radius: 20px;
  color: aliceblue;
  display: flex;
  font-size: x-large;
  font-weight: 400;
  justify-content: center;
  margin-bottom: 10px;
  padding: 4px 0;
  width: 60%;
}

.icon-cart-btn{
  margin-right: 15px;
}

.image-container {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 200px;
  width: 50%;
}

.image {
  max-height: 200px;
  max-width: 100%;
}

.rating {
  display: flex;
}

.rating p {
  color: gainsboro;
  margin-left: 5px;
}

.descricao-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: large;
  font-weight: 500;
  justify-content: center;
  margin: auto;
  padding: 10px 20px;
  text-align: center;
  width: 100%;
}

.descricao {
  font-weight: 300;
  font-size: medium;
  text-align: left;
  width: 100%;
}

.produto a {
  color: black;
  text-decoration: none;
}

.produto a:hover {
  color: #0d6efd;
}
